.cover__subtitle {
  max-width: 360px;
  margin: 32px 0 0 0;
  z-index: 2;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    margin: 16px 0 0 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 424px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}