.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 424px) {
  .lead__title {
    margin: 0 16px 0 16px;
  }
}